
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* common CSS */

.inner {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
 
  
  /* header는 원래 블록 요소이다. 포지션 fixed 나, absolute를 적용하게되면 인라인 블록 요소가 된다. 따라서   width 값이 없어지기 때문에 따로 넓이 값을 주어야 한다.  */
}



.banner {
  background: #000;
  height: 45px;
  display: flex;
  
  align-items: center;
  transition: 0.5s;
  
}
.lnb {
  /* border: 1px solid red; */
  /* width: 1300px; */
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  
 
  
}
.lnb-left {
  border: 1px solid red;
  
}
.lnb-right {
  border: 1px solid blue;
  
}
.lnb a {
  color: #ddd;
  display: inline-block;
  background: peru;
  width: 100px;
  height: 100%;
  
}
.lnb span {
  display: inline-block;
  width: 50px;
  height: 100%;
}
.lnb a:last-child {
  margin-right: 0;
}

nav {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}
nav .logo img {
  width: 80px;
  
}


.gnb {
  display: flex;
}
.gnb li a {
  margin-right: 20px;
  color: #fff;

}
.gnb li:last-child a {
  margin-right: 0;
}
.gnb li a:hover {
  color: #333;
}
/* header with active class */
header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
header.active .gnb li a {
  color: #000;
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  padding-bottom: 20px;
}

.goTop {
  background: linear-gradient(45deg, skyblue, rgb(185, 208, 218));
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: -20px;
  opacity: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}
.goTop.active {
  bottom: 20px;
  opacity: 1;
}

/* intro */
.intro {
  height: 80vh;
  position: relative;
}
input[name=tabmenu] {
  display: none;
}
.tabs {
  position: relative;
  

  height: 100%;
  
  overflow: hidden;
}
.intro-items {
  height: 100vh;
  width: 300%;
  
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  
  
  
}
.intro-items>div {
  height: 100vh;
  width: 33.333333%;
  
  box-sizing: border-box;
  float: left;
  position: relative;
 
  

}
.intro-items>div:nth-of-type(2) h5{
  position: relative;
  top: 30%;
  left: 10%;
  
}
.intro-items>div:nth-of-type(2) h4 {
  position: relative;
  top: 35%;
  left: 10%;
  
}
.intro-items>div:nth-child(2) h5,
.intro-items>div:nth-child(2) h4 {
  font-size: 40px;
  font-weight: 600;
left: 300px;
color: #fff;
opacity: 0;
transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 0.8s;
}
.intro-items>div:nth-of-type(2) img {
  position: relative;
 top: 50%;
  left: -10%;
  transition: 0.5s cubic-bezier(0,0.5,0.1,0.8);
  transition-delay: 0.4s;
  
}
.intro-items>div:nth-of-type(3) h5 {
  position: relative;
  font-size: 100px;
  font-weight: 300;
  top: 100px;
left: -300px;
color: #fff;
opacity: 1;
transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.squaretitle {
  position: absolute;
  top: 20%;
  left: 13%;
  width: 400px;
  height: 400px;
  
 
}
.squaretitle .square {
  width: 100%;
  height: 100%;

}
.square span {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 30%/40% 45% 55% 60%;
}
.intro-items .square span:nth-of-type(1) {
  animation: circle 8s linear infinite;
  opacity: 0.3;
}
.intro-items .square span:nth-of-type(2) {
  animation: circle 6s linear infinite;
  opacity: 0.2;
}
.intro-items .square span:nth-of-type(3) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
  opacity: 0.1;
}
.spancontent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
 font-size: 40px;
 font-weight: 500;
 color: #fff;
 opacity: 0.9;
 line-height: 40px;
}
.spancontent h3:nth-child(1) {
  font-size: 26px;
}

.btn {
  
  bottom: -50px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  line-height: 50px;
  border: 1px solid black;
  position: absolute;
  bottom: 50px;
  z-index: 10;
}

.btn label {
  display: inline-block;
  color: #fff;
  margin: 0 15px;
  cursor: pointer;
  



}
.intro-items>div:nth-of-type(1) {
  background: url(images/items01.jpg) no-repeat center bottom;
  background-size: cover;
}
.intro-items>div:nth-of-type(2) {
  background: url(images/items02.jpg) no-repeat center center;
  background-size: cover;
}


.intro-items>div:nth-of-type(3) {
  background: url(images/items03.jpg) no-repeat center center;
  background-size: cover;
}
input[id=tab1]:checked~.tabs .intro-items {
  left: 0;
}

input[id=tab2]:checked~.tabs .intro-items {
  left: -100%;
}

input[id=tab3]:checked~.tabs .intro-items {
  left: -200%;
}
input[id=tab2]:checked~.tabs .intro-items>div:nth-of-type(2) h5,
input[id=tab2]:checked~.tabs .intro-items div:nth-of-type(2) h4 {
  left: 700px;
  opacity: 1;
}
input[id=tab2]:checked~.tabs .intro-items div:nth-of-type(2) img {
  top: 0;
}
input[id=tab3]:checked~.tabs .intro-items div:nth-of-type(3) h5 {
  left: 300px;
  opacity: 1;
}

@keyframes circle {
  0% {
  transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}


/* about SECTION */
.about-content {
  
  display: flex;
  padding: 90px 0;
}
.about-content div {
  padding: 30px;
}
.description
 {
   text-align: center;
   flex: 3;
 }
 .description h2 {
   font-size: 30px;
   margin-bottom: 30px;
   text-transform: capitalize;
 }
 .description p {
   font-size: 16px;
   line-height: 1.7em;
 }
 .description a {
   color: peru;
   font-weight: bold;
 }
 .photo {
   flex: 2;}
   
 .photo img {
  width: 100%;
  
  border-radius: 40% 60% 65% 30% / 40% 45% 55% 60%;
}
/* ranking SECTION */
.ranking {
  background-color: #f8f8f8;
}
.ranking-content {
padding: 70px 0;
}
.ranking-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.items {

display: flex;
justify-content: space-between;

}
.item {
  background-color: #fff;
  box-shadow: 5px 5px 10px rgb(129, 122, 122);
  width: 390px;
  height: 550px;
  border-radius: 30px 0 30px 0;
  overflow: hidden;
}
.up-image {
  
  width: 390px;
  height: 285px;
  
  /* border-radius: 가 왜 사라졌가?  해당 radius를 갖고 있는 요소에 히든을 적용시킨다.  */
}
.up-image img {

height: 100%;
}
.down-description {
padding: 25px;
padding-top: 40px;
text-transform: capitalize;
}
.down-description h3 {
  font-size: 24px;
  margin: 15px 0;
  
}
.item:nth-child(2) .down-description h3 {
  letter-spacing: -1px;
}
.down-description p {
  font-size: 16px;
}
.down-description a {
  color: tomato;
  
}
.btn-explorer {
  color: tomato;
  font-weight: 500;
}
.btn-explorer img {
  transition: 0.5s;
}
.btn-explorer:hover img {
  transform: scale(1.5) translateX(20px);
}
.badge {
  
  color: white;
  padding: 2px 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
.badge.must {
  background-color: tomato;
}
.badge.good {
  background-color: cornflowerblue;
}

/* testimonial SECTION */
  .testimonial {
    padding: 100px 0;
    background-color: peru;
  }
  .testimonial-content {
  text-align: center;
  }
  .testimonial-content h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .testimonial-content h2 b {
    font-weight: 500;
  }
  .testimonial-content hr {
    border: none;
    border-bottom: 4px solid royalblue;
    
    width: 120px;
    margin: 30px auto;
  }
  /* hr은 블록 요소이기 때문에 상화좌우 영역을 가지고 있다. 그렇기 때문에 일반적으로 border 를 none 으로 초기화 시키는 것이 좋다.  */
 
  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.client img {
  width: 85px;
  border-radius: 50%;
  margin-right: 10px;
}
.client span {
 
  display: block;
  /* width: 100%; */
  text-align: left;
}
.client span b {
  display: block;
}
.comment {
  font-size: 16px;
  line-height: 1.6em;
  padding-right: 15px;
}

/* callaction SECTION */
.callaction {
 
  height: 450px;
  background: url(images/callaction-01.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callaction:before {
  content: "";
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgb(161, 97, 161, 0.8), rgb(189, 189, 123, 0.8));
  /* 가상클래스는 디폴트로 인라인 요소로 존재한다. 따라서 position absolute를 주어, 그 인라인 블록 요소로 변하도록 한다.  */
}
.callaction-heading {
  text-align: center;
  position: relative;

  /* html 끼리 겹쳐 있을 떄 z-index 조건이 없다면, position relative 속성을 갖는 태그가 우선순위로 가장 위에 표시된다.  */

}
.callaction-heading h2 {
  color: #fff;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 200;
  letter-spacing: -1px;
  margin-bottom: 50px;

}
.callaction-heading h2 b {
  font-weight: 500;
}
.callaction-heading a {
background-color: olive;
color: #fff;

padding: 10px 20px;
border-radius: 5px;


}
/* blog SECTION */

.blog-content {
 padding: 50px 0;
}


.blog-header h6,
.recent-post-items h6,
.shared-post-items h6 {
  text-transform: uppercase;
  font-size: 16px;
  color: royalblue;
  margin-bottom: 30px;
}

.blog-header h2
  {
  text-transform: uppercase;
  font-size: 48px;
}
.blog-header p {
  font-size: 28px;
  line-height: 1.2em;
}

.post-content {
  display: flex;
  justify-content: space-between;

}


hr.divider {
margin: 50px 0;
}
.post-content hr.divider {
  margin: 40px 0;
}

.recent-post-items h6,
.shared-post-items h6  {
  color: #333;
}

.shared-post-items {width: 360px;}
.post-item {
  display: flex;
  
  

}

.post-image {
  
  border-radius: 30px 0 30px 0;
  overflow: hidden;
  
  width: 360px;
 height: 230px;
 
}
.post-image img {
  width: 100%;
  height: 100%;
}
.post-description {
  flex: 3;
  

}
.post-description h3 {
font-size: 24px;
text-transform: uppercase;
}
.post-description p {
  font-size: 18px;
  line-height: 1.6em;
  
  
}
.post-description p span {
  font-size: 14px;
  display: block;
  margin-top: 20px;
}
.recent-post-items .post-description {
  margin: 0 30px;
}
.recent-post-items  hr.divider {
  width: 96%;
  
}
.shared-post-items .post-item {
  flex-direction: column;
  
}
.shared-post-items .post-description h3 {
  margin: 20px 0;
}
.shared-post-items .post-description p {
  margin: 0;
}



/* festival SECTION */
.festival {
  height: 270px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.festival-heading {
  text-align: center;
}
.festival-heading h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}
.festival-heading h3 span {
  font-weight: 500;
}

.btns a {
  background-color: #fff;
  display: inline-block;
  width: 200px;
  padding: 6px 0;
  margin: 5px;
  font-weight: 400;
  font-size: 16px;
}
.btns a:nth-child(1) {
  background-color: peru;
  color: #fff;
}
.btns a:nth-child(2) {
  background-color: #ededed;
  color: #333;
}
/* footer*/
footer{

  padding: 30px 0;
}
.footer-content {
display: flex;
justify-content: center;

}
.footer-content ul {

text-align: center;
}
.footer-content ul li {
  font-weight: 500;
  color: #333;
}
.footer-content ul li a {
  color: #959595;
}
.community {
flex:1;
}
.networks {
flex: 1;
}
.help {
  flex: 2;
}
.help li:last-child{
  margin-top: 35px;
  color: black;
}

   
 

/* 높이를 픽셀로 픽스하게 되면 모바일오 전환하게 됐을때 배치가 달라지는데 높이를 px로 주게 되면 모바일로 가서 다시 픽셀값을 주거나 해야하는 문제점이 있다.  */



@media (max-width: 768px) {
  /* header */
  nav {
    width: 100%;
    padding: 0 20px;
    
  }
  .gnb {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 80px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.17);
    transition: 00.5s;
  }
  .gnb.active {
right: 0;
  }
  .gnb li a {
    display: block;
    margin: 0;
   
    padding: 15px;
    color: black;
  }
  /* trigger */
  .trigger {
    display: block;
    border: 1px solid red;
    width: 30px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 70px;
  }
  .trigger span {
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    transition: 0.3s;
  }
  .trigger span:nth-child(1){
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  .trigger.active span {
    background-color: black;
  }
  .trigger.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  /* common CSS */
  .inner {
    width: 100%;
    
    padding: 15px;
    box-sizing: border-box;
  }
  /* intro SECTION */
  .heading h1 {
    font-size: 40px;
  }
  .heading p {
    padding: 0;
  }
  /* about SECTION */
  .about-content {
    flex-direction: column;
    padding: 50px 0;
    
  }
  .about-content div {
    padding: 10px;
  }
  /* ranking SECTION */
  .ranking-content {
    padding: 50px;
  }
  .items {
    flex-direction: column;
  }
  .item {
    width: 100%;
    height: 600px;
    border-radius: 7px;
    margin-bottom: 20px;
  }
/* testimonial SECTION */
.testimonial {
  padding: 50px 20px;
}
/* blog SECTION */
.blog-header {
  text-align: center;
  height: auto;
}
.blog-header h6 {
  font-size: 14px;
  
}
.blog-header h2 {
  font-size: 30px;
}
.blog-header p {
  font-size: 16px;
}
.blog-header .btn-explorer {
  font-size: 14px;
}
.post-content {
  flex-direction: column;
}
.post-item {
  flex-direction: column;
  /* text-align: center; */
}
.post-image {
  /* width: 300px;
  height: 200px; */
  margin: auto;
  border-radius: 7px;
  width: 100%;
}
.recent-post-items .post-description {
  margin: 0;
}
.post-description h3 {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
}

.shared-post-items {
  width: 100%;
}
.recent-post-items h6,
.shared-post-items h6 {
  text-align: center;
}
/* callaction SECTION */
.callaction-heading h2 {
  font-size: 36px;
}
/* festival SECTION */
.festival {
  padding: 0 20px;
}
.festival-heading h3 {
  font-size: 22px;
}
.btns a {
  width: 100%;
  margin: 5px 0;
  /* 얘는 inner가 없는 section 이다.  */
}
/* footer */
.footer-content {
  flex-direction: column;
  
}
.footer-content ul {
  margin-bottom: 20px;
}
}