.goTopBtn {
    background: linear-gradient(45deg, skyblue, rgb(24, 78, 144));
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 20px;
    bottom: -20px;
    opacity: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
  }
  .goTopBtn.active {
    bottom: 20px;
    opacity: 1;
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1366px){
    .goTopBtn{
      right: 50px;
    }
    .goTopBtn.active {
      bottom: 20px;
      right: 50px;
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) and (max-width:1023px){
    .goTopBtn {
      right: 40px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .goTopBtn {
     
      width: 35px;
      height: 35px;
    
      
     
     
      color: #fff;
      font-size: 30px;
      
      line-height: 35px;
      
    }
  }