@import "sub-header.css";

body {
    /* font-family: 'Noto Sans KR', sans-serif; */
    line-height: 1.5em;
    /* background-color: #e2dfdf; */
overflow-y: hidden;
  }



  section {

    height: calc(100vh - 60px);
    /* position: relative; */
  }


  .login {

    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
  }



  .login-type h1 {
    margin: 10px 0;
    font-size: 38px;
    text-align: center;
    font-weight: normal;
    line-height: 38px;
  }

  .btn {
    border: 1px solid lightgray;
    color: #fff;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .btn:hover {
    opacity: 1;
  }

  .btn:nth-of-type(1) {
    color: #222;
    background-color: #fff;
    position: relative;
  }
span.or-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
  .btn:nth-of-type(1) .fas,
  .btn:nth-of-type(2) .fas,
  .btn:nth-of-type(4) .fab {

    display: inline-block;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);

  }

  .btn:nth-of-type(2) {
    background-color: #898c9b;
    position: relative;

  }

  .btn:nth-of-type(3) {
    background-color: #fef01b;
    color: #000;
    position: relative;
  }

  .btn:nth-of-type(3) img {
    width: 18px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn:nth-of-type(4) {
    background-color: #3b5998;
    position: relative;
    margin-bottom: 10px;
  }

  .login-footer p {
    text-align: center;
    padding-top: 10px;
  }

  .login-footer p a {
    font-weight: normal;
  }

  .login-footer p a:hover {
    text-decoration: underline;
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .login {
      width: 320px;
      padding: 0 20px;
    }
    .login-type h1 {
      font-size: 30px;
    }
  }