/* common */
.modal {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
  
  justify-content: center;
  align-items: center;  
  display: none;
  transition: all 0.3s ease-in-out;
  }

  .full-img__container {
    width: 80%;
    height: 70%;

    /* border: 1px solid #fff; */
    overflow: scroll;
    position: relative;
    background: #fff;
    
  }
  .full-img__container i.fa-times-circle {
      /* position: absolute;
      top: 0;
      right: 0; */
      font-size: 40px;
      padding: 10px;
      color: var(--main-point-color);
      cursor: pointer;
  }
  .full-img__container i.fixBtn {
      position: fixed;
      top: 15%;
      right: 11%;     
  }
  /* .recruit-modal1 .full-img__container i.fixBtn {
      top: 11%;
      right: 300px;
  } */
  img.full-img {
  width: 100%;
    top: 500px;

    
    
  }
  .modal.open {
    display: flex;
  }


/* footer */
/* .value-container {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    overflow: scroll;
    position: relative;
} */


.value-container img {
    width: 100%;

}
        .map-container {
            width: 500px;
            height: 700px;
            

            margin: 0 auto;
            background-color: #fefefe;
            position: relative;

        }

        .map-container h1 {
            font-size: 30px;
          color: var(--main-point-color);
          padding: 30px 0 30px 30px;

        }
        .map-container i.fixBtn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 40px;
            padding: 10px;
            color: var(--main-point-color);
            cursor: pointer;
        }

        #map {
            height: 50%;
            width: 100%;
        }
        #map iframe {
            width: 100%;
            height: 100%;
        }
        #map-content {
            
            padding: 30px;
        }
        #map-content h3 {
            margin-bottom: 15px;
        }
        #map-content p {
            margin-bottom: 15px;
        }
        #map-content p:nth-of-type(1) i,
        #map-content p:nth-of-type(1) b{
            color: green;

        }
        #map-content p:nth-of-type(2) i,
        #map-content p:nth-of-type(2) b{
            color: tomato;

        }
        #map-content p:nth-of-type(3) i,
        #map-content p:nth-of-type(3) b{
            color: royalblue;

        }
        #map-content p:nth-of-type(4) i,
        #map-content p:nth-of-type(4) b{
            color: peru;

        }
        #map-content p:nth-of-type(5) i,
        #map-content p:nth-of-type(5) b{
            color: purple;
            opacity: 0.8;

        }
        @media screen and (min-width: 1024px) and (max-width: 1366px){
            /* .full-img__container {
                width: 90%;
                height: 90%;
            } */
            img.full-img {
                width: 110%;
            }
           
           
           /* .modal1 .full-img__container i.fixBtn {
            top: 25%;
            right: 2%;   
           } */
           /* .recruit-modal1 .full-img__container i.fixBtn {
            top: 11%;
            right: 9%;
        } */
            .modal2 .full-img__container i.fixBtn {
                top: 0;
                right: 0;
            }
            /* .full-img__container i.fa-times-circle {
                color: #fff;
            } */
        .full-img__container i.fixBtn,
            .full-img__container i.fixBtn {
                top: 15%;
                right: 11%;
            }
            .map-container i.fixBtn{
                top: 0;
                right: 0;
            }
        }
        
        @media screen and (min-width: 768px) and (max-width:1023px){
           /* .value-container {
               width: 700px;
           } */
           /* .modal1 .full-img__container i.fixBtn {
            top: 16%;
            right: 5%;   
           } */
           /* .recruit-modal1 .full-img__container i.fixBtn {
            top: 11%;
            right: 13%;
        }
           .index-modal .full-img__container i.fixBtn {
            top: 15%;
            right: 11%;
        
        }
        .index-modal img.full-img {
            width: 130%;
        } */
        .full-img__container i.fixBtn {
            top: 11%;
            right: 13%;
        }
          .full-img__container i.fixBtn {
            top: 15%;
            right: 11%;
        
        }
       img.full-img {
            width: 130%;
        }
        .map-container i.fixBtn{
            top: 0;
            right: 0;
        }
        }
        @media screen and (min-width: 320px) and (max-width: 767px){
           




            
/* .modal1 .full-img__container i.fixBtn {
    top: 1%;
    right: 2%;   
   } */

            
            /* .value-container {
                width: 100%;
                height: 100%;
            } */
            /* .value-container {
                width: 700px;
            } */
            .value-container img {
                width: 180%;
            }
            /* .recruit-modal1 .full-img__container i.fixBtn {
                top: 2%;
                right: 3%;
            } */
            /* .index-modal .full-img__container {
                width: 100%;
                height: 100%;
            }
            .index-modal .full-img__container i.fixBtn {
                right: 3%;
                top: 1%;
            }
            .index-modal img.full-img {
                width: 170%;
            } */
            .full-img__container {
                width: 100%;
                height: 100%;
            }
            .full-img__container i.fixBtn {
                right: 3%;
                top: 1%;
            }
            img.full-img {
                width: 170%;
            }
            .map-container i.fixBtn{
                top: 0;
                right: 0;
            }
        }