
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "variables.css";

@import "main/main_header.css";
@import "main/main_intro.css";
@import "main/main-section-first.css";
@import "main/main-section-second.css";
@import "main/main-section-third.css";
@import "main/main-section-fourth.css";
@import "main/main-section-fifth.css";



/* common CSS */

body {
  overflow-x:hidden; overflow-y:auto;
}
.container {
  width: 100vw;
  height: 100vh;
}
.inner {
  /* border: 1px solid red; */
  width: 1300px;
  margin: auto;
 
}
.goTop {
  background: linear-gradient(45deg, skyblue, rgb(24, 78, 144));
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: -20px;
  opacity: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}
.goTop.active {
  bottom: 20px;
  opacity: 1;
}


/* footer*/
footer{

  padding: 30px 0;
}
.footer-content {
display: flex;
justify-content: center;

}
.footer-content ul {

text-align: center;
}
.footer-content ul li {
  font-weight: 500;
  color: #333;
}
.footer-content ul li a {
  color: #959595;
}
.community {
flex:1;
}
.networks {
flex: 1;
}
.help {
  flex: 2;
}
.help li:last-child{
  margin-top: 35px;
  color: black;
}

   
 

/* 높이를 픽셀로 픽스하게 되면 모바일오 전환하게 됐을때 배치가 달라지는데 높이를 px로 주게 되면 모바일로 가서 다시 픽셀값을 주거나 해야하는 문제점이 있다.  */



@media (max-width: 768px) {
  /* header */
  nav {
    width: 100%;
    padding: 0 20px;
    
  }
  .gnb {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 80px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.17);
    transition: 00.5s;
  }
  .gnb.active {
right: 0;
  }
  .gnb li a {
    display: block;
    margin: 0;
   
    padding: 15px;
    color: black;
  }
  /* trigger */
  .trigger {
    display: block;
    border: 1px solid red;
    width: 30px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 70px;
  }
  .trigger span {
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    transition: 0.3s;
  }
  .trigger span:nth-child(1){
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  .trigger.active span {
    background-color: black;
  }
  .trigger.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  /* common CSS */
  .inner {
    width: 100%;
    
    padding: 15px;
    box-sizing: border-box;
  }
  /* intro SECTION */
  .heading h1 {
    font-size: 40px;
  }
  .heading p {
    padding: 0;
  }
  /* about SECTION */
  .about-content {
    flex-direction: column;
    padding: 50px 0;
    
  }
  .about-content div {
    padding: 10px;
  }
  /* ranking SECTION */
  .ranking-content {
    padding: 50px;
  }
  .items {
    flex-direction: column;
  }
  .item {
    width: 100%;
    height: 600px;
    border-radius: 7px;
    margin-bottom: 20px;
  }
/* testimonial SECTION */
.testimonial {
  padding: 50px 20px;
}
/* blog SECTION */
.blog-header {
  text-align: center;
  height: auto;
}
.blog-header h6 {
  font-size: 14px;
  
}
.blog-header h2 {
  font-size: 30px;
}
.blog-header p {
  font-size: 16px;
}
.blog-header .btn-explorer {
  font-size: 14px;
}
.post-content {
  flex-direction: column;
}
.post-item {
  flex-direction: column;
  /* text-align: center; */
}
.post-image {
  /* width: 300px;
  height: 200px; */
  margin: auto;
  border-radius: 7px;
  width: 100%;
}
.recent-post-items .post-description {
  margin: 0;
}
.post-description h3 {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
}

.shared-post-items {
  width: 100%;
}
.recent-post-items h6,
.shared-post-items h6 {
  text-align: center;
}
/* callaction SECTION */
.callaction-heading h2 {
  font-size: 36px;
}
/* festival SECTION */
.festival {
  padding: 0 20px;
}
.festival-heading h3 {
  font-size: 22px;
}
.btns a {
  width: 100%;
  margin: 5px 0;
  /* 얘는 inner가 없는 section 이다.  */
}
/* footer */
.footer-content {
  flex-direction: column;
  
}
.footer-content ul {
  margin-bottom: 20px;
}
}