/* SECTION FOURTH */
  
.blog-content {
    padding: 50px 0;
    display: flex;
   }
   
  
   .post-item {
     /* border: 1px solid black; */
     /* padding: 20px 0; */
     box-sizing: border-box;
    
     border-radius: 30px 0 30px 0;
     /* width: 100%; */

     
   }
   .recent-post-items .post-item {
    width: 95%;
   }
   /* .recent-post-items {
     border: 1px solid red;
     box-sizing: border-box;
   }
   .shared-post-items {
     border: 1px solid blue;
    box-sizing: border-box;
   } */
   .blog-header h6,
   .recent-post-items h6,
   .shared-post-items h6 {
     text-transform: uppercase;
     font-size: 16px;
    
     margin: 50px 0 30px 0;
   }
   
   .blog-header h2
     {
     text-transform: uppercase;
     font-size: 48px;
     margin-bottom: 30px;
     font-weight: 500;
      color: var(--main-point-color);
   }
   .blog-header p {
     font-size: 20px;
    
     font-weight: 300;
     line-height: 1.2em;
   }
   
   .post-content {
     display: flex;
     /* justify-content: space-between; */
   
   }
   
   
   hr.divider {
   margin: 50px 0 0 0;
   border: 0;
   border-top: 1px solid var(--main-point-color);
   opacity: 0.5;
   }

   .post-content hr.divider {
     margin: 40px 0;
    
   }
   
   .recent-post-items h6,
   .shared-post-items h6  {
     color: #333;
   }
   
   .shared-post-items {width: 360px;}
   .shared-post-items hr.divider {
    margin: 20px 0 30px 0;
   }
   .post-item {
     display: flex;
     
     
     
   
   }
   a.brandLink {
    display: inline-block;
    position: relative;
    width: 100%;
    /* border: 1px solid red;
    box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
a.brandLink:hover .post-item {
 background-color: var(--main-point-color);
 color: #fff;
}
 
   
   .post-image {
     
     border-radius: 30px 0 30px 0;
     overflow: hidden;
     
     width: 360px;
    height: 230px;
    /* border: 1px solid pink;
    box-sizing: border-box; */
  
    
   }
   .post-image img {
     width: 100%;
     height: 100%;
   }
   .post-description {
     display: inline-block;

   flex: 2;
   padding: 10px;
   height: 100%;
     /* border: 1px solid brown;
     box-sizing: border-box; */
     
     
   
   }
   .post-description h3 {
   font-size: 24px;
   text-transform: uppercase;
   margin-bottom: 20px;
   }
   .post-description p {
     font-size: 18px;
     line-height: 1.6em;
     font-weight: 100;
   
     
     
   }
   .post-description p span {
     font-size: 14px;
     display: block;
     margin-top: 20px;
     font-weight: 400;
   }
   .recent-post-items .post-description {
    width: 100%;
   }
   .recent-post-items  hr.divider {
     width: 96%;
     
   }
   .shared-post-items .post-item {
     flex-direction: column;
     
   }
   .shared-post-items .post-description h3 {
     margin: 20px 0;
   }
   .shared-post-items .post-description p {
     margin: 0;
   }












