/* SECTION FOURTH */
  
.blog-content {
    padding: 50px 0;
   }
   
   
   .blog-header h6,
   .recent-post-items h6,
   .shared-post-items h6 {
     text-transform: uppercase;
     font-size: 16px;
     color: royalblue;
     margin-bottom: 30px;
   }
   
   .blog-header h2
     {
     text-transform: uppercase;
     font-size: 48px;
   }
   .blog-header p {
     font-size: 28px;
     line-height: 1.2em;
   }
   
   .post-content {
     display: flex;
     justify-content: space-between;
   
   }
   
   
   hr.divider {
   margin: 50px 0;
   }
   .post-content hr.divider {
     margin: 40px 0;
   }
   
   .recent-post-items h6,
   .shared-post-items h6  {
     color: #333;
   }
   
   .shared-post-items {width: 360px;}
   .post-item {
     display: flex;
     
     
   
   }
   
   .post-image {
     
     border-radius: 30px 0 30px 0;
     overflow: hidden;
     
     width: 360px;
    height: 230px;
    
   }
   .post-image img {
     width: 100%;
     height: 100%;
   }
   .post-description {
     flex: 3;
     
   
   }
   .post-description h3 {
   font-size: 24px;
   text-transform: uppercase;
   }
   .post-description p {
     font-size: 18px;
     line-height: 1.6em;
     
     
   }
   .post-description p span {
     font-size: 14px;
     display: block;
     margin-top: 20px;
   }
   .recent-post-items .post-description {
     margin: 0 30px;
   }
   .recent-post-items  hr.divider {
     width: 96%;
     
   }
   .shared-post-items .post-item {
     flex-direction: column;
     
   }
   .shared-post-items .post-description h3 {
     margin: 20px 0;
   }
   .shared-post-items .post-description p {
     margin: 0;
   }












