/* SECTION SECOND*/
.testimonial {
    padding: 180px 0 100px 0;
    background-color: var(--main-point-color);
    color: #fff;
    position: relative;
    
   
  }
  .testimonial-content {
  text-align: center;
  }
  .testimonial-content h6 {
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  .testimonial-content h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .testimonial-content h2 b {
    font-weight: 500;
  }
  .testimonial-content hr {
    border: none;
    border-bottom: 4px solid #fff;
    
    width: 120px;
    margin: 0px auto 70px;
  }
  /* hr은 블록 요소이기 때문에 상화좌우 영역을 가지고 있다. 그렇기 때문에 일반적으로 border 를 none 으로 초기화 시키는 것이 좋다.  */

  .client {
    height: 250px;
    width: 350px;
   
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  div.big {

width: 200px;
height: 200px;
border-radius: 30px 0 30px 0;
overflow: hidden;



  }
  
  div.sub {
  
     width: 60px;
    
     margin-left: 10px;
     border-radius: 10px 0 10px 0;
     overflow: hidden;
     cursor: pointer;
     
    

  }
  div.big img,
  div.sub img {
    width: 100%;
    height: 100%;
  
  
  }
   
  p.userName {
    display: block;
 
    
    padding: 30px 0 20px 0;
    font-size: 20px;
    position: relative;
  }
  p.userName:after {
    content: '님';
    position: absolute;
    right: 30%;
    bottom: 30%;
    font-size: 16px;
    color: #fff;
  }

.comment {
  font-size: 16px;
  line-height: 1.6em;
  padding-right: 15px;
  padding: 5px 30px 20px 30px;
}

.testimonial .arrow_prev {
  position: absolute;
  width: 100px;
  
  top: 50%;
  left: 5%;
 
}
.testimonial .arrow_next {
  position: absolute;
  width: 100px;
  top: 50%;
  right: 2%;
}
.testimonial .arrow_prev span,
.testimonial .arrow_next span {
  font-size: 25px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
  .client {
    width: 300px;
  }
  .testimonial .arrow_prev {
    top: 64%;
    left: 3%;
  }
  .testimonial .arrow_next {
    top: 64%;
    right: -1%;
  }
}
@media screen and (min-width: 768px) and (max-width:1023px){
  .testimonial .arrow_prev {
    top: 61%;
    left: 3%;
  }
  .testimonial .arrow_next {
    top: 61%;
    right: -3%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .testimonial {
    overflow: hidden;
    padding: 100px 0 100px 0;
  }
  .testimonial-content h2 {
    font-size: 20px;
    line-height: 35px;
  }
  .testimonial .arrow_prev {
    top: 64%;
    left: 3%;
  }
  .testimonial .arrow_next {
    top: 64%;
    right: -13%;
  }
  .client {
    width: 220px
  }
  p.userName {
    font-size: 18px;
  }
  p.userName:after {
    content: '님';
    position: absolute;
    right: 25%;
    bottom: 30%;
    font-size: 15px;
    color: #fff;
  }
  .comment {
    font-size: 15px;
  }
}